<a href="#/{{ article.meta.year }}/{{ article.meta.month }}" title="Archives for {{ moment(article.meta.date).format('MMMM, YYYY') }} ...">{{ moment(article.meta.date).format('MMMM') }}</a>
<a href="#/{{ article.meta.year }}/{{ article.meta.month }}/{{ article.meta.day }}" title="Archives for {{ moment(article.meta.date).format('MMMM Do, YYYY') }} ...">{{ moment(article.meta.date).format('Do') }}</a>,
<a href="#/{{ article.meta.year }}" title="Archives for {{ article.meta.year }} ...">{{ moment(article.meta.date).format('YYYY') }}</a>
