<section id="home" class="container">
  <article ng-repeat="article in articles" class="preview">
    <header>
      <h1 class="post-title"><a href="/{{ article.meta.path }}" title="{{ article.title }}">{{ article.title }}</a></h1>
      <div class="post-meta">
        <time datetime="{{ article.meta.year }}-{{ article.meta.month }}-{{ article.meta.day }}">
          {{ moment(article.meta.date).format("dddd, MMMM Do, YYYY") }}
        </time>
      </div>
    </header>
    <section class="post-excerpt">
      <p ng-bind-html="( article.summary || article.body ) | unsafe"></p>
      <p class="readmore"><a href="/{{ article.meta.path }}">Read this article <i class="fa fa-chevron-circle-right"></i></a></p>
    </section>
  </article>
</section>