<section id="article" class="container">
  <article>
    <header>
      <h2 id="{{ article.meta.path }}">{{ article.title }}</h2>
      <time datetime="{{ article.meta.year }}-{{ article.meta.month }}-{{ article.meta.day }}" pubdate>{{ moment(article.meta.date).format('MMMM Do, YYYY') }}</time>
    </header>
    <summary ng-bind-html-unsafe="article.summary">{{ article.summary }}</summary>
    <div ng-bind-html-unsafe="article.body">{{ article.body }}</div>
    <hr class="divider" />
  </article>
</section>
