<!doctype html>
<html data-ng-app="Quill" data-ng-controller="QuillCtrl">
  <head>
    <title data-ng-bind="$root.page_title">{{ config.get('SITE_TITLE') }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" lang="en-us" dir="ltr">
    <meta name="description" content="{{ config.get('SITE_DESCRIPTION') }}">
    <meta name="author" content="{{ config.get('AUTHOR') }}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic%7CCrimson+Text%3A400%2C400italic%2C700&#038;ver=1.0.1" type="text/css" rel="stylesheet"  media="screen" />

    {% assets 'css' %}
        <link href="{{ ASSET_URL }}" type="text/css" rel="stylesheet">
    {% endassets %}

    {% assets 'javascript' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
        var config = {
              theme:       '{{ config.get('THEME') }}'
            , title:       '{{ config.get('SITE_TITLE') }}'
            , description: '{{ config.get('SITE_DESCRIPTION') }}'
            , author:      '{{ config.get('AUTHOR') }}'
            , per_page:    '{{ config.get('PER_PAGE') }}'
        }
    </script>
  </head>
  <body class="ng-cloak">
    <div data-ng-view id="ng-view" data-ng-animate="'animate'"></div>
    <footer>
    </footer>
  </body>
</html>
